.header-section {
  --pad-top: 2rem;
  padding-top: 2rem;
}

.header-section>.container,
.header__navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.header__navigation {
  display: none;
  margin-left: 4.3rem;
}

.header__toggle {
  z-index: 999;
}

.header__navigation-sm {
  position: fixed;
  top: calc(var(--pad-top) + 4.25rem);
  right: var(--page-minimum-padding);
  padding: 1rem 2.5rem;
  border-radius: .375rem;
  z-index: 1000 !important;
}

.header__navigation-sm ul {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 2.5rem;
}

.header__navigation ul {
  gap: 2.25rem;
}

.header__buttons-sm {
  display: none;
}

.header__logo--image {
  width: 3.90981rem;
  height: 1.001rem;
}

.header__buttons {
  margin-left: auto;
  display: flex;
  gap: 1.62rem;
}

.header__buttons-sm {
  padding-top: .5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__buttons-sm .button-transparent {
  padding-bottom: 1rem;
}

.header__button {
  color: #FFF;
  font-family: Manrope;
  border: none;
  background-color: transparent;
}

.header-section .button-orange{
  width: 9.5rem;
}

.header-section .button-transparent,
.header-section .button-orange {
  height: 3.625rem;
  display: grid;
  place-items: center;
}

.header-section .button-transparent {
  padding: 0 1.625rem;
}

.button-orange {
  display: grid;
  place-items: center;
  border-radius: .25rem;
}

.header__toggle {
  position: fixed;
  right: var(--page-minimum-padding);
  width: 2rem;
  height: 2rem;
}

/* active States */
.button-orange:hover {
  opacity: .925;
}

.header__navigation--link:hover {
  text-decoration: underline;
}

@media(max-width: 1000px) and (min-width: 500px) {
  .header-section {
    padding-right: 4rem;
  }
}

@media(width > 1000px) {
  .header-section {
    padding-top: 3.44rem;
  }

  .header__navigation {
    display: flex;
  }

  .header__navigation-sm {
    display: none;
  }

  .header__toggle {
    display: none;
  }
}

@media(max-width: 500px) {
  .header__buttons-sm {
    display: block;
  }

  .header__buttons {
    display: none;
  }
}