
:root {
  /* Font Sizes */
  --fs-50: .725rem;
  --fs-100: .75rem; /* 12px */
  --fs-200: .875rem; /* 14px */
  --fs-300: 1rem; /* 16px */
  --fs-400: 1.125rem; /* 18px */
  --fs-500: 1.25rem; /* 20 */
  --fs-600: 1.5rem; /* 24 */
  --fs-700: 2.125rem; /* 34 */
  --fs-800: 3.875rem; /* 62 */
  --fs-900: ;
  /*  */

  /* Font */
  --f-family: 'Manrope', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* Layout */
  --page-max-width: 1440px;
  --page-inline-padding: 8.5rem;
  --page-inline-padding-right: 8.5rem;
  --page-inline-padding-left: 8.5rem;
  --page-minimum-padding: 1.5rem;

  /* Colors */
  --clr-heading-100: #FFFFFF;
  --clr-heading-900: #000;
  
  --clr-text-100: #3D6184;
  --clr-text-200: #FF8A71;
  --clr-text-300: #81AFDD;
  --clr-text-400: #71E5FF;
  --clr-text-500: #FF4820;
  --clr-text-900: #0E0E0E;
  
  --clr-bg-600: #052D56;
  --clr-bg-700: #042C54;
  --clr-bg-800: #031B34;
  --clr-bg-900: #040C18;
  
  --clr-100: #AE67FA;
  --clr-200: #F49867;
  --clr-900: #000;
}

@media(max-width: 800px) {
  :root {
    /* Font Sizes */
    --fs-700: 2rem;
    --fs-800: 3rem; /* 48px */
    
    /* Layout */
    --page-minimum-padding: 1.5rem;
  }
}

.grid-columns {
  display: grid;
}

.container {
  width: 
    min(calc(100% - var(--page-minimum-padding) * 2),
    calc(var(--page-max-width) - var(--page-inline-padding-left) - var(--page-inline-padding-right))
    )
  ;
  margin-inline: auto;
}

body {
  font-family: var(--f-family);
  background-color: var(--clr-bg-900);
  color: var(--clr-heading-100);
  font-weight: var(--fw-regular);
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

ul[role=list] {
  list-style: none;
}

button, a {
  cursor: pointer;
  border: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.text-gradient {
  background: linear-gradient(90deg, var(--clr-100) 0%, var(--clr-200) 97.40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line-gradient {
  width: 2.375rem;
  height: 0.1875rem;
  flex-shrink: 0;
  margin-bottom: 1.125rem;
}

.gradient {
  background: linear-gradient(143deg, var(--clr-100) 0%, var(--clr-200) 97.40%), #FFF;
}

.background-gradient{
  background: linear-gradient(90deg, var(--clr-100) 0%, var(--clr-200) 97.40%);
}

button,
.designed-button,
a {
  transition: all ease .25s;
}

a:not(.designed-button):hover {
  text-decoration: underline;
}

.designed-button:hover {
  cursor: pointer;
  opacity: .9;
}

button:hover {
  cursor: pointer;
  opacity: .9;
}

.hero-section *,
.header-section * {
  z-index: 1;
}

/* Utility Classes */
.fs-50 {
  font-size: var(--fs-50);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.clr-text-100 {
  color: var(--clr-text-100);
}

.clr-text-200 {
  color: var(--clr-text-200);
}

.clr-text-300 {
  color: var(--clr-text-300);
}

.clr-text-400 {
  color: var(--clr-text-400);
}

.clr-text-500 {
  color: var(--clr-text-500);
}

.clr-text-900 {
  color: var(--clr-text-900);
}

.clr-heading-100 {
  color: var(--clr-heading-100);
}

.clr-heading-900 {
  color: var(--clr-heading-900);
}

.bg-600 {
  background-color: var(--clr-bg-600);
}

.bg-700 {
  background-color: var(--clr-bg-700);
}

.bg-800 {
  background-color: var(--clr-bg-800);
}

.bg-900 {
  background-color: var(--clr-bg-900);
}

.bg-text-clr-500 {
  background-color: var(--clr-text-500);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-extrabold {
  font-weight: var(--fw-extrabold);
}

/* Keyframes */

.scale-in-center {
  -webkit-animation: scale-in-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}