.leading-section {
  --page-inline-padding-left: 11.06rem;
  --page-inline-padding-right: 11.06rem;
  margin-top: 3.06rem;
}

.leading-section .grid-columns {
  grid-template-columns: 1fr;
}

/* Image */

.leading__image--image {
  width: 100%;
}

/* Content */

.leading__content {
  padding-left: 1.19rem;
}

.leading__content--a {
  line-height: 1.875;
}

.leading__content--heading {
  line-height: 1.32353;
  margin-top: .62rem;
}

.leading__content--p {
  line-height: 1.875;
  padding-top: 1.44rem;
  margin-bottom: 1.94rem;
}

@media(width > 1000px) {
  .leading-section>.grid-columns {
    grid-template-columns: 1fr 1fr;
  }

  .leading__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 2.125rem;
  }
}

@media(max-width: 1000px) {
  .leading-section>.grid-columns {
    gap: 2.5rem;
  }

  .leading__image {
    display: grid;
    place-items: center;
  }

  .leading__image--image {
    width: min(100%, 22.5rem);
  }

  .leading__content {
    text-align: center;
  }
}