.footer-cta-section {
  width: 100svw;
  margin-top: 9.69rem;
}

.footer-cta__content {
  width: 100%;
  padding: 10.94rem 2rem 11.56rem 2rem;
  text-align: center;
  display: grid;
}

.footer-cta__content > * {
  margin-inline: auto;
}

.footer-cta__content--a {
  width: max-content;
  margin-top: 4rem;
  padding: 1.37rem 1.5rem;
  border: .0625rem solid var(--clr-heading-100);
}

.footer-cta__content--a:hover {
  background-color: var(--clr-heading-100);
  color: var(--clr-heading-900);
}